page-contact-us {
  
}
#page3 {
    // background-color: #0976FA;
    background-image: url('../assets/img/background.jpg');
    background-size: 154%;
    background-repeat: no-repeat;
    width: 102%;
    padding: 0;
    background-position: -70px;
}